<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) Pierre-Yves Peton 2020-2022.
  ~ All rights reserved
  -->

<Configuration status="debug" shutdownHook="disable">
   <AsyncWaitStrategyFactory
            class="com.fixisoft.util.concurrent.BusySpinWaitFactory" />
    <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{ISO8601} %level %logger{1.} - %marker %msg%n"/>
    </Console>
    <RollingRandomAccessFile name="RollingRandomAccessFile" fileName="md_client_example.log" filePattern="logs/$${date:yyyy-MM}/md_client_example-%d{yyyy-MM-dd-HH}-%i.log.gz" immediateFlush="false" append="false">
        <PatternLayout pattern="%d{ISO8601} %level %logger{1.} - %marker %msg%n"/>
        <Policies>
            <TimeBasedTriggeringPolicy />
            <SizeBasedTriggeringPolicy size="250 MB"/>
        </Policies>
        <DefaultRolloverStrategy max="20"/>
    </RollingRandomAccessFile>
  </Appenders>
  <Loggers>
    <AsyncRoot level="debug" includeLocation="false">
      <AppenderRef ref="RollingRandomAccessFile"/>
<!--      <AppenderRef ref="Console"/>-->
    </AsyncRoot>
  </Loggers>
</Configuration>
